<ng-content select=".header"></ng-content>
<p>foo works!</p>
<ng-content></ng-content>
<hr>
<ng-content select=".footer"></ng-content>
<!-- ------------------------------------------ -->

<hr style="margin-top: 40px;">

<ng-template #ref let-prefix let-num="foo">
  <p> {{ prefix }} I am template {{ num }}</p>
</ng-template>

<ng-container *ngTemplateOutlet="ref; context: {
  foo: 1234,
  $implicit: 'Hello! '
}"></ng-container>
<!-- ------------------------------------------ -->

<hr style="margin-top: 40px;">

<ng-container *ngIf="true">
  <div *ngFor="let item of [1, 2, 3]">{{ item }}</div>
</ng-container>
<!-- ------------------------------------------ -->

<hr style="margin-top: 40px;">

<ng-template #defaultTemplate let-element>
  <p> {{ element }} I am default template</p>
</ng-template>

<div *ngFor="let item of [1, 2, 3]">
  <ng-container *ngTemplateOutlet="template || defaultTemplate; context: { $implicit: item }"></ng-container>
</div>

